
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}
/* nav start.......................... */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 50px auto;
    align-items: center;
    
}
.logo{
    display: flex;
}
.logo h2{
    margin-left: 16px;
    color: #131318;
font-family: 'Mulish';
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.bar{
    display: none;
}
.bar i{
font-size: 20px;
}
.logo h2 span{
    color: #FF5400;
    font-family: 'Mulish';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.li-item{
    display: flex;
    
}
.li-item >li{
    list-style: none;
    margin-right: 44px;
}
.li-item >li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: 'Mulish';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    
}


/* benar start ............... */
.benar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-position: center;
    border-radius: 16px;
    
    justify-content: center;
    
}
.benar h4{
    color: #FFF;
font-family: 'Mulish';
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.benar p{
    max-width: 676px;
    color: #FFF;
text-align: center;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

}
.benar-input{
    display: flex;

    padding: 16px;
    border-radius: 8px;
background-color: rgba(255, 255, 255, 0.30);
}
.benar-input input{

    width: 174px;
    padding-left: 16px; 
height: 52px;
margin-right: 24px;
color: rgba(19, 19, 24, 0.50);

font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
border-radius: 8px;
background-color: #FFF;


} 



.in-box {
    position: relative;

}

.in-box i{
    color: rgba(19, 19, 24, 0.50);
    position: absolute;
    top: 42%;
    right: 20%;
    
}
.in i{
    right: 80%;
    color: #FFF;

}
.in input{
    width:190px;
   
    color: #FFF;
    border-radius: 8px;
background-color: #FF5400;

}


   /* .......pololar ........ */
   .popular{
    justify-content: space-between;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
   }
   .popular-txt h4{
    margin-bottom: 24px;
    color: #131318;

font-family: 'Mulish';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
   }
   .popular-txt p{
    max-width:  577px;
    color: rgba(19, 19, 24, 0.70);
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 8px;

   }
   .li-it{
    margin-left: 25px;
   }
   .li-it ul li{
    /* list-style-type: circle; */
    
    margin-top: 16px;
    max-width: 525px;
    color: rgba(19, 19, 24, 0.70);
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

   }
   #aa{
    max-width:  530px;;
    color: #5A5A5D;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 32px;
margin-top: 24px;
/


    
   }
   .btn{
    border-radius: 8px;
background-color: #FF5400;
padding: 14px 34px;
color: #FFF;
text-align: center;
font-family: 'Mulish';
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border: none;

   }
   .popular-img{
    max-width: 540px;
max-height: 550px;
   }
   .popular-img img{
    width: 100%;
    height: 100%;
   }


/* 
   ......img box.......... */


   .img-contenar{
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 100px;

   }

   .img-contenar-txt{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;


   }
   .img-contenar-txt h4{
    color: #131318;
text-align: center;
font-family: 'Mulish';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;


   }
   .img-contenar-txt p{
    
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
   }
   .img-contenar-img-box-1 img{

    height: auto;
    width: 100%;
   }


   .img-contenar-img-box-1{
    display: flex;
    margin-bottom: 24px;
   
   
    
   }
   .c-img-body-1 h3{
    position: absolute;
    top: 44%;
    right: 42%;
    color: #FFF;
    font-size: 28px;

font-weight: 800;
    

   }

   .c-img-body-1{
    max-width: 573px;
height: auto;
margin-right: 24px;
position: relative;
   

   }

   .c-img-body-2{
    max-width: 573px;
    height: auto;
    position: relative;
    
    
   }
   .c-img-body-2 h3{
    position: absolute;
    top: 44%;
    right: 40%;
    color: #FFF;

font-family: 'Mulish';
font-size: 28px;

font-weight: 800;

    

   }


 

   .img-contenar-img-box-2{
    display: flex;
    
    

   } 
 

 .d-img-body-1{
    max-width: 374px;
    height: auto;
    margin-right: 24px;
    position: relative;

    
 }
 .d-img-body-1 img{
    width: 100%;
    height: auto;

 }
 .d-img-body-1 h4{
    position: absolute;
    color: #FFF;

font-family: 'Mulish';
font-size: 28px;
font-weight: 800;
top: 41%;
right: 36%;




 }




 .d-img-body-2{
    max-width: 474px;
    margin-right: 24px;
    position: relative;

 }
 .d-img-body-2 img{
    width: 100%;
    height: auto;
 }
 .d-img-body-2 h4{
    position: absolute;
    color: #FFF;

font-family: 'Mulish';
font-size: 28px;
font-weight: 800;
top: 41%;
right: 34%;

 }




 .d-img-body-3{
    max-width: 474px;
    position: relative;

 }
 .d-img-body-3 img{
    width: 100%;
    height: auto;


 }
 .d-img-body-3 h4{
    position: absolute;
    color: #FFF;

font-family: 'Mulish';
font-size: 28px;
font-weight: 800;
top: 41%;
right: 36%;

 }

 .img-contenar-img-box-3{
    margin-top: 24px;

    display: flex;
 }
 .e-img-body-2{
    max-width: 673px;
    
    position: relative;

 }
 .e-img-body-2 h4{
    
    color: #FFF;
position: absolute;
font-family: 'Mulish';
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
top: 43%;
right: 40%;
 }
 .e-img-body-2 img{
    width: 100%;

 }


 .e-img-body-1{
    max-width: 473px;
    margin-right: 24px;
    position: relative;

 }
 .e-img-body-1 h4{
    
    color: #FFF;
position: absolute;
font-family: 'Mulish';
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
top: 43%;
right: 36%;
 }
 .e-img-body-1 img{
    width: 100%;

 }

 .why-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 .why-txt h3{

    color: #131318;
text-align: center;
font-family: 'Mulish';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
 }
 .why-txt p{
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 48px;

 }
 .why-box-cont{
    
    
    
 }
 .why-box-cont-s{
    margin-top:24px ;
    display: flex;
    justify-content: center;
 }
 .why-box-cont-f{
    display: flex;
    justify-content: space-between;
 }
 .why{
    margin: 0 auto;
    max-width: 1160px;
    justify-content: space-between;
    margin-top: 100px;
 }

 .why-cmn{
    
max-width: 533px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
padding: 32px;



 }
 .why-cmn img{
    width: 64px;
height: 64px;
   
 }
 .why-cmn h4{
    color: #131318;
margin-top: 32px;
font-family: 'Mulish';
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
   
 }
 .why-cmn p{
    margin-top: 16px;
    max-width: 486px;
    color: #5A5A5D;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
    
    
 }

 .why-box-1{
    background-color: rgba(251, 181, 99, 0.05);
    
 }
 .why-box-2{
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px solid rgba(41, 206, 246, 0.20);



 }
 .why-box-3{
    background-color: rgba(251, 181, 99, 0.05);

 }

 .new{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    max-width: 1160px;
    margin-top: 100px;
 }
 .new-txt{
    display: flex;
    flex-direction: column;
    max-width: 400px;
height: 340px;
border-radius: 16px;
padding: 40px;
border: 1px solid #FF5400;
 }
 .new-txt h4{
    margin-bottom: 16px;
    color: #131318;
font-family: 'Mulish';
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
 }
 .new-txt p{
    max-width: 350px;
    color: #5A5A5D;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 24px;
 }
 
 .new-txt input{
    margin-top: 17px;
    
    color: rgba(19, 19, 24, 0.30);
border: 0;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 16px;
padding: 16px;
padding-left: 20px;
border-radius: 8px;

background-color: rgba(19, 19, 24, 0.05);
    
 }
 button{
    margin-top: 24px;
    border-radius: 8px;
background-color: #FF5400;
color: #FFF;
border: 0;
font-family: 'Mulish';
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top:15px ;
padding-bottom: 15px;
 }

 .new-img{
    width: 672px;
    background-image: url(Images/Rectangle\ 8\ \(1\).png);
    background-size: cover;
    
    height: 422px;
    background-repeat: no-repeat;
    
    
    position: relative;
    background-position: center;
    border-radius: 16px;
    
   
 }

 .dis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 10px;
    position: absolute;
    border-radius: 16px;
background: #FF5400;
width: 324px;
height: 120px;
transform: rotate(-19.628deg);

 }
 .dis p{
    color: #FFF;
text-align: center;
font-family: 'Mulish';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
 }
 .dis h3{
    color: #FFF;
font-family: 'Mulish';
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;

 }

 footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    background-color: rgba(19, 19, 24, 0.05);
 }
 footer i{
    margin-right: 15px;
    font-size: 25px;
 }
 .f-logo img{
    margin-top: 110px;
    width: 40px;
    height: 46.673px;
 }
 .f-logo h2{
    margin-top: 110px;
    margin-left: 16px;
    color: var(--Dark-01, #131318);
    font-family: 'Mulish';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }
 .f-logo{

    display: flex;
    justify-content: center;
 }
 .f-logo span{
    color: #FF5400;

 }
 .icn{
    display: flex;
    justify-content: center;
   width: 70%;
    margin-top: 32px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
 }
footer p{
    margin-top: 15px;
    max-width: 769px;
    color: #5A5A5D;
text-align: center;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
 }
 .cpy{
    
     margin-top: 50px;
     margin-bottom: 110px;
    
    align-items: center;
 }




 .main-card{
    max-width: 1120px;
    margin: 0 auto;
   
}
.main-card h1{
    margin-top: 5px;
    display: flex;
    color: #3A3A3A;
font-family: 'Poppins';
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 250% */
margin-bottom: 30px;
justify-content: center;

}
.card{
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;  
    gap: 30px;


}
.card-box{
    
    width: 329px;
height: 476px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

padding: 17px 0px 0px 18px ;


}
.card-box-img{
    width: 300px;
height: 256px;


}
.card-box-img img{
    width: 100%;
    height: 100%;
}
.card-box h4{
    margin-top: 16px;
    color: var(--Text-Gray-900, #18191F);

font-family: 'Poppins';
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
}
.card-box h5{
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));

/* Inter / 24 sp • H5 */
font-family: 'Inter';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
margin-top: 6px;
margin-bottom: 6px;
}
.rating{

    margin-bottom: 10px;
}
.rating i{
    color: #FB8200;
    margin-right: 3px;
}
.rating span{
    color: var(--gray-80, #5E6366);

/* Roboto / Subtitle 2 */
font-family: 'inter';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
letter-spacing: 0.1px;
}



.card-box p{
    max-width: 196px;
    color: var(--Gray-50, #787885);

/* Inter / Body Small */
font-family: 'Inter';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 143%; /* 20.02px */
letter-spacing: 0.252px;
    
}



 








@media screen and (max-width: 600px) {
        header{
            margin-left: 20px;
            margin-right: 20px;
        }
        .li-item{
            display: none;
        }
        .bar{
            display: block;
        }
        .logo h2{
            margin-left: 10px;
            font-size: 23.543px
        }
        .logo h2 span{
            font-size: 23.543px

        }
        .logo img{
            width: 29px;
            height: auto;
        }
        .benar-input{
            flex-direction: column;
            gap: 16px;
        }
        .in-box input{
            width: 245px;

        }
        .benar h4{
            font-size: 25px;
        }
        .benar p{
            font-size: 15px;
        }
        .in input{
            width: 260px;
        }
        .popular{
            flex-direction: column;
        }
        main{
            margin-left: 20px;
            margin-right: 20px;
        }
        .popular-img{
            margin-top: 24px;
        }

        .img-contenar-img-box-1{
            flex-direction: column;
        }
        .c-img-body-1{
            width: 100%;
            margin-bottom: 16px;
        }


        .c-img-body-1 h3{
            font-size: 21px;
        }
        .c-img-body-2 h3{
            font-size: 21px;
        }

        .img-contenar-img-box-2 {
            flex-direction: column;
        }





        .img-contenar-img-box-3{
            flex-direction: column;
            margin-top: 0px;
        }

        .e-img-body-1 {
            max-width: 666px;
            width: 100%;
            margin-bottom: 16px;
        }
        .e-img-body-1  h4{
            font-size: 21px;
        }
        .e-img-body-2 {
            max-width: 666px;
            width: 100%;
            margin-bottom: 16px;
        }
        .e-img-body-2  h4{
            font-size: 21px;
        }



        .d-img-body-1 {
            max-width: 666px;
            width: 100%;
            margin-bottom: 16px;
        }
        .d-img-body-1  h4{
            font-size: 21px;
        }

        .d-img-body-2 {
            max-width: 666px;
            width: 100%;
            margin-bottom: 16px;
        }
        .d-img-body-2  h4{
            font-size: 21px;
        }

        .d-img-body-3 {
            max-width: 666px;
            width: 100%;
            margin-bottom: 16px;
        }
        .d-img-body-4  h4{
            font-size: 21px;
        }

        .why-box-cont-f {
            flex-direction: column;
        }
        .why-box-2{
            margin-top: 16px;
         }
         .new{
            flex-direction: column;
         }
         .dis{
            width: 214.023px;
height: 79.268px;
         }
         .dis p{
            font-size: 15.854px;
         }
         .dis h3{
            font-size: 22px;
         }
         .new-img{
            margin-top: 16px;
            width: 100%;
         }
         footer p{
            margin-left: 25px;
            margin-right: 25px;
         }



        
  }






