
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}
/* nav start.......................... */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 50px auto;
    align-items: center;
    
}
.logo{
    display: flex;
}
.logo h2{
    margin-left: 16px;
    color: #131318;
font-family: 'Mulish';
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.bar{
    display: none;
}
.bar i{
font-size: 20px;
}
.logo h2 span{
    color: #FF5400;
    font-family: 'Mulish';
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.li-item{
    display: flex;
    
}
.li-item >li{
    list-style: none;
    margin-right: 44px;
}
.li-item >li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: 'Mulish';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
    
}


/* benar start ............... */
.benar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-position: center;
    border-radius: 16px;
    
    justify-content: center;
    
}
.benar h4{
    color: #FFF;
font-family: 'Mulish';
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.benar p{
    max-width: 676px;
    color: #FFF;
text-align: center;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

}
.benar-input{
    display: flex;

    padding: 16px;
    border-radius: 8px;
background-color: rgba(255, 255, 255, 0.30);
}
.benar-input input{

    width: 174px;
    padding-left: 16px; 
height: 52px;
margin-right: 24px;
color: rgba(19, 19, 24, 0.50);

font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
border-radius: 8px;
background-color: #FFF;


} 



.in-box {
    position: relative;

}

.in-box i{
    color: rgba(19, 19, 24, 0.50);
    position: absolute;
    top: 42%;
    right: 20%;
    
}
.in i{
    right: 80%;
    color: #FFF;

}
.in input{
    width:190px;
   
    color: #FFF;
    border-radius: 8px;
background-color: #FF5400;

}


   /* .......pololar ........ */
   .popular{
    justify-content: space-between;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 50px;
   }
   .popular-txt h4{
    margin-bottom: 24px;
    color: #131318;

font-family: 'Mulish';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
   }
   .popular-txt p{
    max-width:  577px;
    color: rgba(19, 19, 24, 0.70);
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 8px;

   }
   .li-it{
    margin-left: 25px;
   }
   .li-it ul li{
    /* list-style-type: circle; */
    
    margin-top: 16px;
    max-width: 525px;
    color: rgba(19, 19, 24, 0.70);
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

   }
   #aa{
    max-width:  530px;;
    color: #5A5A5D;
font-family: 'Mulish';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 32px;
margin-top: 24px;
/


    
   }
   .btn{
    border-radius: 8px;
background-color: #FF5400;
padding: 14px 34px;
color: #FFF;
text-align: center;
font-family: 'Mulish';
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
border: none;

   }
   .popular-img{
    max-width: 540px;
max-height: 550px;
   }
   .popular-img img{
    width: 100%;
    height: 100%;
   }


/* 
   ......img box.......... */


   .img-contenar{
    margin: 0 auto;
    max-width: 1170px;

   }
   .img-contenar-img-box-1 img{

    height: auto;
    width: 100%;
   }


   .img-contenar-img-box-1{
    display: flex;
    margin-bottom: 24px;
   
   
    
   }
   .c-img-body-1 h3{
    position: absolute;
    top: 44%;
    right: 42%;
    color: #FFF;
    font-size: 28px;

font-weight: 800;
    

   }

   .c-img-body-1{
    max-width: 573px;
height: auto;
margin-right: 24px;
position: relative;
   

   }

   .c-img-body-2{
    max-width: 573px;
    height: auto;
    position: relative;
    
    
   }
   .c-img-body-2 h3{
    position: absolute;
    top: 44%;
    right: 40%;
    color: #FFF;

font-family: 'Mulish';
font-size: 28px;

font-weight: 800;

    

   }









@media screen and (max-width: 600px) {
        header{
            margin-left: 20px;
            margin-right: 20px;
        }
        .li-item{
            display: none;
        }
        .bar{
            display: block;
        }
        .logo h2{
            margin-left: 10px;
            font-size: 23.543px
        }
        .logo h2 span{
            font-size: 23.543px

        }
        .logo img{
            width: 29px;
            height: auto;
        }
        .benar-input{
            flex-direction: column;
            gap: 16px;
        }
        .in-box input{
            width: 245px;

        }
        .benar h4{
            font-size: 25px;
        }
        .benar p{
            font-size: 15px;
        }
        .in input{
            width: 260px;
        }
        .popular{
            flex-direction: column;
        }
        main{
            margin-left: 20px;
            margin-right: 20px;
        }
        .popular-img{
            margin-top: 24px;
        }
    
  }






